.brand-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
}

.brand-package-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 60px;
    padding-top: 20px;
    padding-bottom: 60px;
    position: relative;
}

@media (max-width: 768px) {
    .brand-content-wrapper {
        padding-left: 20px;
    }

    .brand-package-container {
        gap: 60px;
    }
}