.projects-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 0; /* Removed top padding */
    padding-left: 40px;
    box-sizing: border-box;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    align-self: center;
}

@media (max-width: 768px) {
    .projects-content-wrapper {
        padding-left: 20px;
    }
}